<div class="hesap-container">
  <h2 class="baslik">Randevu Listesi</h2>
  <table class="hesap-tablosu">
    <thead>
      <tr>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Açıklama</th>
        <th>Durum</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of randevular">
        <td>{{ r.tarih | date: 'shortDate' }}</td>
        <td>{{ r.saat }}</td>
        <td>{{ r.aciklama }}</td>
        <td>
          <span class="badge" [ngStyle]="{
      'background-color': r.durum === 'Bekliyor' ? '#ffc107' :
                          r.durum === 'Tamamlandı' ? '#4caf50' : '#ccc',
      'color': '#fff',
      'padding': '4px 12px',
      'border-radius': '20px',
      'font-weight': 'bold'
    }">
            {{ r.durum || 'Bilinmiyor' }}
          </span>
        </td>



      </tr>
    </tbody>
  </table>

  <!-- Buton alanı -->
  <div class="panel-link">
    <button class="admin-panel-btn" (click)="goToAdminPanel()">
      👑 Admin Paneline Git
    </button>
  </div>
</div>