<section class="contact-hero">
    <h1>Bize Ulaşın</h1>
    <p>
      Hizmetlerimize ilişkin aklınıza takılan tüm sorularınız ile danışmak istediğiniz tüm sorular için bize ulaşmaktan çekinmeyin.
      Uzman ekibimiz sorularınızı memnuniyetle yanıtlayarak size yardımcı olacaktır.
    </p>
  </section>
  
  <div class="contact-container">
    <div class="tab-buttons">
      <button class="active">İletişim Formu</button>
      
    </div>
  
    <form class="contact-form">
      <div class="form-group">
        <label>Ad Soyad *</label>
        <input type="text" placeholder="Adınızı girin" />
      </div>
      <div class="form-group">
        <label>E-posta Adresi *</label>
        <input type="email" placeholder="E-posta adresinizi girin" />
      </div>
      <div class="form-group">
        <label>Telefon Numarası</label>
        <input type="tel" placeholder="Telefon numaranızı girin" />
      </div>
  
    
  
      <div class="form-group">
        <label>Mesajınız *</label>
        <textarea rows="4" placeholder="Lütfen talebinizi buraya yazın."></textarea>
      </div>
  
      <div class="form-group checkbox">
        <label><input type="checkbox" /> KVKK Aydınlatma Metni’ni okudum, kabul ediyorum.</label>
      </div>
  
      <button type="submit" class="submit-button">Gönder</button>
    </form>
  </div>
  
